<div class="page-header">
  <h3>Actor #<%= @actor.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @actor.name %></dd>

      <dt>Dob</dt>
      <dd><%= @actor.dob %></dd>

      <dt>Bio</dt>
      <dd><%= @actor.bio %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @actor.image_url %>"></dd>

      <dt>Number of characters</dt>
      <dd><%= Character.where(:movie_id => @actor.id).count %></dd>

    </dl>
    <table class="table table-striped table-hover">
      <tr>
        <th>Movie</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>

      <% @characters.each do |character| %>
      <tr>
        <td><%= Movie.find(character.movie_id).title %></td>
        <td><%= character.name %></td>
        <td>
          <a href="/characters/<%= character.id %>" class="btn btn-primary">Show</a>
          <a href="/characters/<%= character.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_character/<%= character.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <form action="/create_character" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for movie_id -->
      <div class="form-group">
        <label for="movie_id" class="control-label">
          Movie
        </label>

        <%= select_tag(:movie_id, options_from_collection_for_select(Movie.all, :id, :title, @character.movie_id), :class => "form-control") %>
        <a href="/movies/new">Add new</a>
            </div>

      <!-- Label and input for actor_id -->
      <div class="form-group">
        <label for="actor_id" class="control-label">
          Actor
        </label>


        <input type="hidden" name="actor_id" id="actor_id" value="<%= @actor.id %>">
                    </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @character.name %>">
      </div>

      <button class="btn btn-success">
        Create Character
      </button>
      or
      <a href="/characters">Cancel</a>
    </form>

    <div class="btn-group btn-group-justified">
      <a href="/actors" class="btn btn-primary">
        Back
      </a>
      <a href="/actors/<%= @actor.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_actor/<%= @actor.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
